
.library{
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 1.5vw;
    position: relative;
}
.library button{
    padding: .4rem .8rem .4rem .6rem;
    align-self: flex-start;
    border-radius: 1.5rem;
}
/* ------------- yourlib --------------- */
.yourlib{
    justify-content: space-between;
    align-items: center;
    padding: .7rem .8rem 0 1.3rem;
    height: 5vh;
    font-size: 1.1rem;
}
.yourlib .with-icon{
    align-items: center;
    gap: 1.5vw;
}
.with-icon img{
    height: 5vh;
    width: 2.5vw;
}

.yourlib img:hover, 
.yourlib p:hover{
    opacity: .4;
    cursor: pointer;
}
.yourlib img, 
.yourlib p {
    transition: opacity 0.3s ease;
}

/* ---------------- create-content -------------------- */

.create-content-container{
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
    height: 40vh;
    overflow: auto;
}
.create-content-container::-webkit-scrollbar {
    display: none; 
}

.create-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: .8rem;
    background-color: rgb(83, 93, 6);
    padding: 1rem .7rem;
    border-radius: .4rem;
    font-size: .85rem;
    text-align: center;
}

.create-content p{
    font-size: 1rem;
    overflow-wrap: break-word;
}
.create-content .secondP{
    opacity: .8;
}

.create-content button{
    color: black;
    border: none;
    transition: all ease .3s;
    align-self:center;
}
.create-content button:hover{
    opacity: .6;
}

/* ---------------- libfooter -------------------- */

.libfooter{
    flex-direction: column;
    text-align: center;
    align-items: start;
    gap: .8rem;
    padding: .6rem;
    position: absolute;
    bottom: 13%;
    left: 2%;
    z-index: 99;
}

.libfooter p{
    font-size: .8rem;
    opacity: .6;
    color: white;
    word-wrap: break-word;
}
.libfooter button{
    gap: .6rem;
    font-weight: normal;
    align-items: center;
    color: white;
    background-color: rgb(18, 18, 18);
    border: 1px solid white;
    transition: all ease 0.3s;
}
.libfooter button:hover{
    filter: invert(1);
}


